<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_no1"
        android:label="@string/app_name"
        android:theme="@style/Theme.Asamm.App">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <activity
            android:name=".features.launcher.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Asamm.App.Starting">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.trackRecord.TrackRecordActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".features.map.MapActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".features.trackRecord.profiles.ProfileListActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".features.error.AppFailActivity"
            android:launchMode="singleInstance" />

        <activity android:name=".gui.custom.WaypointInputTextActivity" />

        <activity android:name=".features.trackRecord.stats.view.TrackStatsSelectListActivity" />

        <activity android:name=".features.settings.MainSettingsActivity" />

        <!-- service for events -->
        <service
            android:name=".communication.WearListenerService"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/locus/wear"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/locus/toWear"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <!-- service for the track recording -->
        <service
            android:name=".features.trackRecord.TrackRecordingService"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>