<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asamm.locus.addon.wearables">

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:theme="@android:style/Theme.DeviceDefault.Light" >

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".gui.MainMenuActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.MapActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name=".gui.TrackRecordActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden" />

        <!-- register service for events -->
        <service
            android:name=".WearListenerService">

            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/locus_map/wearable" />
            </intent-filter>
        </service>
    </application>

</manifest>
